.nav-link {
    color: hsl(0, 0%, 100%);
    transition: ease-in 0.25s;
}
.nav-link:hover {
    background-color: hsl(210, 11%, 35%);
    color: hsl(0, 0%, 100%);
}
#my-container {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  background-image: url("assets/milky-way.jpg");
  background-size: cover;
  width: 100%;
  overflow: hidden;
}
.my-image-container {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: black;
  overflow: hidden;
}
.my-card {
  height: 470px;
  width: 400px;
  margin: 2vh 5vw 2vh 5vw;
  background-color: white;
  box-sizing: border-box;
  border: solid 20px white;
}
.my-image-container img {
  max-width: 100%;
  width: 100%;
  object-fit: scale-down;
  color: white;
}
.my-card .my-image-container img:hover {
  cursor: url("assets/magnifying-glass.png"), auto;
}
.my-apod {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.my-apod img {
  max-width: 90%;
  max-height: 80%;
  border: 3px solid white;
}
.my-title-container {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
}
.my-title-container p {
  font-family: Gabriola;
  font-size: x-large;
}
.my-apod-header {
  font-size: 70px;
  color: white;
  text-align: center;
  margin-left: 18%;
}
#my-lightbox {
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 80%);
  transition: all 0.25s;
}
#my-lightbox.is-active {
  transform: scale(1);
}
#my-lightbox img {
  max-width: 90%;
  max-height: 80%;
  background-color: black;
  border: 3px solid white;
}